<?xml version="1.0" encoding="utf-8"?>
<resources>
    <string name="default_epg_url" translatable="false">"https://epg.112114.xyz/" </string>/>
    <string name="app_source" translatable="false">https://agit.ai/wwz09/ubuntu/raw/branch/master/main.json</string>

    <string-array name="default_api_history" translatable="false">
        <item>https://agit.ai/wwz09/ubuntu/raw/branch/master/main.json</item>
        <item>https://agit.ai/wwz09/ubuntu/raw/branch/master/main-js.json</item>
        <item>http://itvbox.cc/tvbox/云星日记/1.m3u8</item>
        <item>http://yydsys.top/duo</item>
        <item>https://agit.ai/wwz09/gao/raw/branch/master/XYQ.json</item>
        <item>https://agit.ai/Yoursmile7/TVBox/raw/branch/master/XC.json</item>
        <item>https://agit.ai/wwz09/gao/raw/branch/master/0828.json</item>
        <item>http://rihou.cc:88/荷城茶秀</item>
       
    </string-array>
    <string-array name="default_ad_block" translatable="false">
        <item>"wan.51img1.com"</item>
        <item>"iqiyi.hbuioo.com"</item>
        <item>"vip.ffzyad.com"</item>
        <item>"https://lf1-cdn-tos.bytegoofy.com/obj/tos-cn-i-dy/455ccf9e8ae744378118e4bd289288dd"</item>
    </string-array>

</resources>